* {
    box-sizing: border-box;
}

body {
    background-color: #1a1b26;
}

label {
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

div.container {
    display: flex;
    background-color: peachpuff;
    min-height: 50vh;
    justify-content: center;
    text-align: center;
    width: 50%;
    position: relative;
    left: 50%;
}